<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>main</title>
    <link rel="stylesheet" type="text/css" href="{{$smarty.const.JS}}layui/css/layui.css" />
    <style type="text/css">
        form{margin-top: 20px;}
    </style>
    <!-- <script type="text/javascript" src="{{$smarty.const.JS}}forbidRight.js"></script> -->
</head>
<body>
    <form class="layui-form" action="">
        {{if $smarty.get.act == "edit"}} <input type="hidden" name="id" value="{{$info.id}}">{{/if}}
        <div class="layui-form-item">
            <label class="layui-form-label">主题</label>
            <div class="layui-input-block">
                <input type="text" name="title" autocomplete="off" placeholder="可不填" class="layui-input" style="width: 60%;" {{if $smarty.get.act == "edit"}} value="{{$info.title}}"{{/if}}>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">链接</label>
            <div class="layui-input-block">
                <input type="text" name="url" autocomplete="off" placeholder="可不填" class="layui-input" style="width: 60%;" {{if $smarty.get.act == "edit"}} value="{{$info.url}}"{{/if}}>
            </div>
        </div>
        <div class="layui-upload">
            <button type="button" class="layui-btn" id="test1" style="margin-left: 65px;">上传图片</button>
            <div class="layui-upload-list">
                <input type="hidden" name="image" class="image" {{if $smarty.get.act == "edit"}} value="{{$info.image}}"{{/if}}>
                <img class="layui-upload-img" id="demo1" style="width: 120px;height: 100px;margin-left: 65px;" {{if $smarty.get.act == "edit" && $info.image!=""}} src="{{$info.image}}"{{else}} src="{{HOME_IMG}}noimg.jpg"{{/if}}>
                <p id="demoText"></p>
            </div>
        </div> 
        <div class="layui-form-item">
            <div class="layui-input-block" style="margin-left: 65px;">
            {{if $smarty.get.act=="add"}}
                <button class="layui-btn" lay-submit="" lay-filter="add">添加</button>
            {{else if $smarty.get.act=="edit"}}
                <button class="layui-btn" lay-submit="" lay-filter="edit">确认修改</button>
            {{/if}}
            </div>
        </div>
    </form>
</body>
<script src="{{$smarty.const.JS}}jquery.min.js"></script>
</script>
<script src="{{$smarty.const.JS}}layui/layui.js" charset="utf-8"></script>
<script type="text/javascript">
    layui.use('upload', function(){
        var $ = layui.jquery,
        upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1',
            url: '{{ADMIN_SITE}}Upfile/upfile',
            before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    // $('#demo1').attr('src', result); //图片链接（base64）
                });
            },
            done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功
                if (res.code == 0) {
                    $('#demo1').attr('src', res.data.src);
                    $('.image').val(res.data.src);
                }
            },
            error: function(){
            //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });
    });
    layui.use('form', function(){
        var form = layui.form;

        //监听提交
        form.on('submit(add)', function(data){
            $.ajax({
                url:'add',
                data:data.field,
                type:'post',
                dataType:'json',
                success:function(redata){
                    if (redata.msg == 1) {
                        window.parent.location.reload();//刷新父页面
                        layer.closeAll('iframe');//关闭弹窗
                    }else if(redata.msg == 2){
                        layer.alert("添加失败，请重试！");
                        layer.closeAll('iframe');//关闭弹窗
                    }else if(redata.msg == 3){
                        layer.msg("该角色已存在，请重新添加！");
                    }
                }
            });
            return false;
        });
        form.on('submit(edit)', function(data){
            $.ajax({
                url:'edit',
                data:data.field,
                type:'post',
                dataType:'json',
                success:function(redata){
                    if (redata.msg == 1) {
                        window.parent.location.reload();//刷新父页面
                        layer.closeAll('iframe');//关闭弹窗
                    }else if(redata.msg == 2){
                        layer.alert("修改失败，请重试！");
                        layer.closeAll('iframe');//关闭弹窗
                    }else if(redata.msg == 3){
                        layer.msg("修改后的角色名已存在，请重新修改！");
                    }
                }
            });
            return false;
        });
    });
</script>
</html>