*{margin:0;padding: 0;list-style: none;text-decoration: none;}
html{width: 100%;height: 100%;}
body{
	font-family:微软雅黑; 
	margin:0; 
	padding:0;
	width: 100%;
	height: 100%;
	background: -webkit-linear-gradient(#2FD3F6, #4BF2E8); /* Safari 5.1 - 6.0 */
	background: -o-linear-gradient(#2FD3F6, #4BF2E8); /* Opera 11.1 - 12.0 */
	background: -moz-linear-gradient(#2FD3F6, #4BF2E8); /* Firefox 3.6 - 15 */
	background: linear-gradient(#2FD3F6, #4BF2E8); /* 标准的语法 */	
}
.header{
	min-width:100%;
	height: 125px;
	color: #ffb802;
	font-size: 36px;
	text-align: center;
	line-height: 125px; 
}
.middle{width: 100%;margin: 0 auto;height: auto;margin-top: 39px;}
.sheet{width: 100%;height: auto;}
.sheet ul{margin: 0;padding: 0;}
.sheet ul li{
	float: left;
	text-align: center;
	margin-left:2%;
	background: #fff;
	width: 47%;
	margin-top:20px;
	height: 350px;
	list-style: none;
	position: relative;
	border-radius: 30px;
}
.sheet ul li img{
	position: absolute;
	z-index: 99999999;
}
.title{
	height: 65px;
	line-height: 65px;
	font-size: 24px;
	width: 100%;
	text-align: center;
	font-weight: bold;
}
